@font-face {
	font-family:Myriad;
    src:url("../fonts/MyriadPro-Regular.otf");
}
/*global*/
body, html , div{
	font-family: Myriad !important;
}
.b-black {
	background-color: #384152;
	color: #999;
	border-color: #000;
	border-top: none;
	border: none;
}
.b-white {
	background-color: #EFF2F7; 
}
.btn-default{
	background-color: #F3F3F3 !important;
}
.red{
	color: red;
}
.btn{
	border-radius: 2px !important;
	border: 0px !important;
}
.statusActive{
	background-color: #6BC856;
}
input , select{
	// padding-left: 0px !important;
	// margin-left: 0px !important;
	-webkit-transition: 0.3s !important;
	-moz-transition: 0.3s !important;
	transition: 0.3s !important;
	box-shadow: none !important;
	border-radius: 1px !important;
	border:none !important;
	border-bottom: 2px solid #ddd !important;
}
input , select{
	&:focus{
		box-shadow: none !important;
		border-radius: 1px !important;
		border:none !important;
		border-bottom: 2px solid #ABDEF7 !important;
	}
}
// nav bar
#nav-bar {
	z-index: 10;
	width: 80%;
}
.navbar{
	background-color: #1B2331;
	border:none;
	-webkit-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.07);
	-moz-box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.07);
	box-shadow: 0px 0px 42px 0px rgba(0,0,0,0.07);
	border-bottom: 1px solid #D91B1B;
	ul{
		.dropdown-menu{
			a{
				color: #5A5A5A !important;
			}
			a:hover{
				color: #000000 !important;
			}
		}
		li{
			a{
				color: #CDCDCD !important;
			}
			a:hover{
				color: #fff !important;
			}
		}
	}
	.navbar-brand{
		color: #CDCDCD !important;
	}
	.navbar-brand:hover{
		color: #fff !important;
	}
	.dropNotifications .dropdown-menu{
		.btn-success{
			color: #fff !important;
			width: 97%;
			margin: 10px auto;
			&:hover{
				background-color: #54AF54 !important;
			}
		}
		.bg-warning a:hover{
			background-color: #FCF8E3 !important;
		}
	}
}
/*side nav*/
.side-nav-lg {
	height: 100vh;
	padding: 0;
	padding-top: 80px;
}
.side-nav-xs {
	padding-top: 100px !important;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	position: fixed;
	z-index: 20;
}
.side-nav {
	ul {
		text-decoration: none;
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin: 0px;
			padding: 0px;
			a{
				text-decoration: none;
				display: inline-block;
				list-style: none;
				padding: 15px 25px;
				margin: 0;
				font-size: 0.9em;
				text-decoration: none;
				cursor: default;
				color: #FFF;
				width: 100%;
			}
			&:hover {
				background-color: #68CEEA;
				cursor: default;
			}
		}
		#repositorio-dropdown-ul{
			max-height: 260px;
			overflow-y: auto;
			overflow-x: hidden;
			li{
				margin: 0px;
				padding: 0px;
				a{
					padding-left: 30px;
					display: inline-block;
					padding-top: 10px;
					padding-bottom: 10px;
					color: #C7C4C4;
					width: 100%;
				}
				&:hover{
					a{
						color: #fff;
					}
				}
			}	

		}
	}
}
/*contenido*/
#main-container {
	height: 100vh;
	overflow: auto;
	padding-top: 80px;
	padding-right: 0.6%;
	padding-left: 0.6%;
	background-color: #EFF2F7;
}
#dop-menu {
	max-width: 50px;
}
/*bonton fantasma*/
#hiddenButton {
	position: absolute;
	padding: 7px 15px;
	color: #fff;
	top: 50px;
	left: 0;
	z-index: 30;
	width: 50px;
	background-color: #384152;
	border-radius: 0px;
	border-bottom-right-radius: 4px;
	&:hover {
		color: #94C2FF;
	}
}
// panels
.boxAcuerdos{
	-webkit-box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.3) !important;
	-moz-box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.3) !important;
	box-shadow: 0px 10px 40px -8px rgba(0,0,0,0.3) !important;
}
.acuerdosGenerales{
	.boxAcuerdos{
	margin: 3%;
}
}
.btnAddAcuerdoToogle{
	&:hover{
		color: #555 !important;
	}
}
.panel-default{
	border-bottom: #BEE1EB solid 1px !important;
}
.panel , .panel-default , .panel-body , .p1 , .p2 , .p3 , .p4{
	border:none;
	border-radius: 0px !important;
	box-shadow: none;
	// border-top-left-radius: 0px !important;
	// border-top-right-radius: 0px !important;
	// border-bottom-left-radius: 0px !important;
	// border-bottom-right-radius: 0px !important;
	.p0{
		background-color: #fff;
		h3{
			color: #555;
		}
	}
	.p1{
		background-color: #83A1B4;
		color: #fff !important;
		text-transform: capitalize;
	}
	.p2{
		background-color: #F2E9C1;
		h3,h4{
			color: #555;
		}
	}
	.p3{
		background-color: #B3B6B8;
		h3,h4{
			color: #fff;
		}
	}
	.p4{
		background-color: #BAE5A4;
		h3,h4{
			color: #555;
		}
	}
	.p5{
		background-color: #D4E3F6;
		h3,h4{
			color: #555;
		}
	}
	.p6{
		background-color: #838905;
		h3,h4{
			color: #fff;
			a{
				color:#fff;
			}
		}
	}
	.p7{
		background-color: #F78B11;
		h3,h4,h5,h6, p{
			color: #FFF;
		}
	}
	.p8{
		background-color: #EFF2F7;
		h3,h4,h5,h6, p{
			color: #555;
		}
	}
	.pGreen{
		background-color: rgba(#BAE5A4, 0.5);
		h3,h4,h5,h6, p{
			color: #555;
		}
	}
	.pOrange{
		background-color: rgba(#F78B11, 0.5);
		h3,h4,h5,h6, p{
			color: #555;
		}
	}
	.pAcuerdos{
		padding-top: 1px !important;
		padding-bottom: 1px !important;
	}
	.pBackground{
		background-color: #F7F7F9; 
		padding-left: 20px;
	}
	.p-d{
		background-color: #FCF8E3;
	}
	a{
		cursor: pointer;
	}
	.panel-heading{
		color: #444;
		a{
			color: #555;
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
			transition: 0.2s;
			margin-right: 10px;
			&:hover{
				cursor: pointer;
				font-size: 1.3em;
				color: #fff;
				margin-right: 5px;
				margin-top: -4px;
			}
		}
	}
	.collapse:after{
		-webkit-transition: 0.2s;
		-moz-transition: 0.2s;
		transition: 0.2s;
		height: 2px;
		width: 100%;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,b5b5b5+50,ffffff+99&0+3,1+40,1+60,0+97 */
		background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(251,251,251,0) 3%, rgba(196,196,196,1) 40%, rgba(181,181,181,1) 50%, rgba(196,196,196,1) 60%, rgba(252,252,252,0) 97%, rgba(255,255,255,0) 99%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 3%,rgba(196,196,196,1) 40%,rgba(181,181,181,1) 50%,rgba(196,196,196,1) 60%,rgba(252,252,252,0) 97%,rgba(255,255,255,0) 99%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(251,251,251,0) 3%,rgba(196,196,196,1) 40%,rgba(181,181,181,1) 50%,rgba(196,196,196,1) 60%,rgba(252,252,252,0) 97%,rgba(255,255,255,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

	}
	form{
		padding: 5%;
	}
	input[type="search"] {
		margin-bottom: 15px;
		margin-left: 10px;
		max-width: 150px;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		border: #fff;
		-webkit-box-shadow: #fff !important;
		-moz-box-shadow: #fff !important;
		box-shadow: #fff !important;
		&:focus{
			max-width: 300px;
		}
	}
	.search{
		margin-bottom: 15px;
		margin-left: 10px;
		max-width: 90%;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		transition: 0.5s;
		border: #fff;
		-webkit-box-shadow: #fff !important;
		-moz-box-shadow: #fff !important;
		box-shadow: #fff !important;
		&:focus{
			max-width: 100%;
		}
	}
	table{
		thead{
			th{
				text-align: center;
				&:hover{
					color: #83A1B4;
					cursor: default;
				}
			}
		}
		tbody{
			tr{
				&:hover{
					background-color: #F6F6FF;
				}
			}
			text-align: center;
		}
	}
}
// modals
.modal-content{
	border-radius: 0px;
	padding: 4%;
	input , select{
		border-radius: 0px;
	}
}
// animated
.passDate{
	-webkit-animation-duration: 3s;
  	-moz-animation-duration: 3s;
  	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.animated-1{
  	-webkit-animation-delay: 1s;
  	-moz-animation-delay: 1s;
  	animation-delay: 1s;

	-webkit-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	animation-iteration-count: 1;

}
.animated-3{
  	-webkit-animation-delay: 1s;
  	-moz-animation-delay: 1s;
  	animation-delay: 1s;
	
	-webkit-animation-iteration-count: 3;
	-moz-animation-iteration-count: 3;
	animation-iteration-count: 3;
}
.newNotification{
	background-color: #ABDEF7 !important;
}
// main admin
.panelUserImgMain{
	.panelUserImg{
		margin-top: 15vh;
		img{
			margin: auto;
		}
	}
}
.panelNotificacionesAdmin{
	height: 514px !important;
	border-top: 1px #E02424 solid;
	overflow-y: scroll;
}
.panelConversacionesAdmin{
	height: 515px !important;
	overflow-y: scroll;
}
.panelUserImgMain{
	min-height: 520px !important;
}
//conversaciones
.panelConversacionesAdmin{
	border-top: 1px #E02424 solid;
	.conversacionesList{
		padding: 10px 0 !important;
		border-radius: 3px;
		margin: 3% auto;
		div, h4{
			display: inline-block;
			vertical-align: center;
			color: #555 !important;
		}
		img{
			max-width: 50px;
		}
	}
}
.mjsTakeBy{
	padding: 6px 15px;
	margin: 0px;
}
// tooltip
.ttip{
	color: #4A4A4A;
}
// footer
footer{
	position: absolute;
	top: 84px;
	right: 45px;
}
//